.posts {
  margin: 80px 0 0 0;
  padding: 0 0 0 20px;
}

.heading {
  font-size: 50px;
  font-family: Raleway;
  color: rgb(58, 6, 38);
}

.body {
  margin: 30px 0 0 0;
}

.new {
  display: flex;
  flex-direction: column;
  width: 90%;

  & textarea {
    width: 100%;
    flex: 0 0 80px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
  }
}

.content {
  margin: 50px 0 0 0;
}
